@import "fonts";
@import "vars";
@import "libs";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html, body {
	height: 100%;
	font-size: 21px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

header, section {
	overflow: hidden;
}

section {
	min-height: 700px;
	position: relative;
	border-top: 1px solid #eee;
	background-color: $bg-color;
}

.white-logo {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: lowercase;
	> span {
		color: $main-color;
		background-color: $bg-color;
	}
}

.black-logo {
	a {
		color: $main-color;
		text-decoration: none;
		text-transform: lowercase;
		> span {
			color: #fff;
			background-color: $main-color;
		}
	}
}

.main-container {
	max-width: 1200px;
}

.top-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: $bg-color;
    border-bottom: 1px solid #eee;
}

.top-panel {
	&-content {
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		min-height: 45px;
		font-size: 1.2rem;
		padding: 0 15px;
		@extend .main-container;
	}
	&-title {
		margin: auto 0;
	}
	&-nav {
		margin: auto 0;
		a {
			color: $main-color;
			transition: color .25s ease;
			text-decoration: none;
			padding: 5px;
			&:hover {
				color: rgba($main-color, 0.356);
			}
		}
	}
}

.content {
	position: relative;
	margin: 0 auto;
	@extend .main-container;
	&-aside {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		max-width: 50%;
	}
	&-image {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		max-width: 50%;
	}
}

.content-aside {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&-item {
		text-align: center;
	}
	&-title {
		font-size: 2.1rem;
		font-weight: bold;
		text-transform: lowercase;
	}
	&-description {
		font-size: 1.9rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $accent-color;
	}
	&-defention {
		color:  rgba($main-color, 0.918);
		font-size: 0.75rem;
		font-weight: 500;
	}
}

.content-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&-item {
		img {
			width :  100%;
		}
	}
}

.twitter-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	&-title {
		padding-top: 10px;
		font-size: 1.3rem;
		font-weight: bold;
		a {
			color: $twitter-color;
			transition: color .25s ease;
			text-decoration: none;
			&:hover {
				color: rgba($twitter-color, 0.656);
			}
		}
	}
	&-follow {
		padding-bottom: 20px;
		padding-top: 5px;
	}
	&-content {
		margin: 0 auto;
		height: 550px;
		text-align: center;
		border: 1px solid #eee;
		box-shadow: 0 0 50px 10px #eee;
	}
}

#custom-scrollbar {
	&::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;	
	}
	&::-webkit-scrollbar-track {
		background: rgba($main-color, 0.1);
		border: 1px solid #ccc;
	}
	&::-webkit-scrollbar-thumb {
		background: #eee;
		border: 1px solid #aaa;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #eee
	}
}

.footer {
	padding: 1rem 0;
	color:  rgba($main-color, 0.704);
	border-top: 1px solid #eee;
	background-color: $bg-color;
	&-content {
		text-align: center;
		font-family: $default-font;
	}
	&-copyright {
		font-size: 12px;
	}
	a {
		color: inherit;
	}
}

@import "media";