@import "fonts";
@import "vars";
@import "libs";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

html, body {
	height: 100%;
	font-size: 21px;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
}

header, section {
	overflow: hidden;
}

section {
	min-height: 700px;
	position: relative;
	background-color: $bg-color;
}

.footer-logo {
	a {
		color: $main-color;
		text-decoration: none;
		font-family: $default-font;
	}
}

.main-logo {
	span {
		color: $main-color;
		text-decoration: none;
		font-family: "barlow-semi-bold";
		font-size: 36px;
	}
}

.main-container {
	max-width: 1200px;
}

.top-panel {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: $bg-color;
    border-bottom: 1px solid $main-color;
}

.top-panel {
	&-content {
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		min-height: 80px;
		font-size: 1.2rem;
		padding: 0 15px;
		@extend .main-container;
	}
	&-logo {
		margin: auto 0;
		img {
			width: 50px;
			vertical-align: -10px;
		}
		span {
			padding-left: 10px;
		}
	}
	&-nav {
		margin: auto 0;
		a {
			text-decoration: none;
			padding: 5px;
			img {
				width: 35px;
				padding-top: 12px
			}
		}
	}
}

.content {
	margin: 0 auto;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	@extend .main-container;
}

.content-aside {
	&-description {
		text-align: center;
		margin-top: 30px;
		font-size: 48px;
		line-height: 58px;
		color: $main-color;
	}
}

.content-media {
	&-item {
		margin-top: 80px;
		img {
			max-width :  100%;
			height: 320px;
		}
	}
	&-play-button-wrapper {
		text-align: center;
		display: flex;
		justify-content: center;
		position: absolute;
		top: 34.3%;
		left: 46.7%;
		z-index: 10;
		cursor: pointer;
	}
	&-play-button {
		background-color: rgba(#fff, 0.518);
		border-radius: 50%;
		width: 5.25rem;
		height: 5.25rem;
		position: relative;
		align-self: center;
		pointer-events: none;
		margin: auto;
		cursor: pointer;
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&:before {
			border-radius: 50%;
			box-shadow: 0 4px 30px 0 rgba(0,0,0,.1);
		}
		&:after {
			background-position: 54%;
			background-repeat: no-repeat;
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyMSAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+SWNvbiBwbGF5PC90aXRsZT48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIG9wYWNpdHk9Ii4zIiBkPSJNLTQgMGgyNHYyNEgtNHoiLz48cGF0aCBkPSJNMi44IDIzLjNjLTEuNSAxLTIuOC4yLTIuOC0xLjZWMi4zQzAgLjUgMS4zLS4zIDIuOC43bDE2LjQgOS42YzEuNSAxIDEuNSAyLjQgMCAzLjRMMi44IDIzLjN6IiBmaWxsPSIjMTkxQzFFIi8+PC9nPjwvc3ZnPg==);
		}
	}
}

.twitter-news {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;

	&-title {
		padding-top: 10px;
		padding-bottom: 20px;
		a {
			color: $main-color;
			transition: color .25s ease;
			text-decoration: none;
			&:hover {
				color: rgba($main-color,.656)
			}
		}
	}
	&-content {
		margin: 0 auto;
		height: 585px;
		text-align: center;
		border: 1px solid $main-color;
		box-shadow: 0 0 50px 10px #eee;
	}
}

.algo-video-popover {
	display: flex;
	flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
	left: 0;
	z-index: 11;
    width: 100%;
    height: 100%;
    background: #fff;
    visibility: hidden;
	opacity: 0;
    overflow-y: hidden;
    transition: visibility 0s ease .5s,opacity .2s ease-in-out;
	&-content {
		margin: auto;
		display: flex;
		align-content: center;
		&-youtub {
			border: 0;
			width: 100vw;
			height: 56.25vw;
			max-width: 44.40rem;
			max-height: 25rem;
			border: 1px solid #eee;
			box-shadow: 0 0 50px 10px #eee;
		}
	}
	&-show {
		visibility: visible;
		opacity: 1;
		z-index: 50;
		transition: opacity .2s ease-in-out .05s
	}
	&-close-button {
		position: absolute;
		right: 32px;
		top: 32px;
		text-align: right;
		width: 32px;
		height: 32px;
		opacity: 0.3;
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		&:before, &:after {
			content: ' ';
			position: absolute;
			left: 15px;
			height: 30px;
			width: 2px;
			background-color: #333;
		  }
		&:before {
			transform: rotate(45deg);
		  }
		&:after {
			transform: rotate(-45deg);
		  }
	}
}

#custom-scrollbar {
	&::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;	
	}
	&::-webkit-scrollbar-track {
		background: rgba($main-color, 0.1);
		border: 1px solid #ccc;
	}
	&::-webkit-scrollbar-thumb {
		background: #eee;
		border: 1px solid #aaa;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #eee
	}
}

.footer {
	padding: 1rem 0;
	color:  rgba($main-color, 0.704);
	border-top: 1px solid $main-color;
	background-color: $bg-color;
	min-height: 80px;
	&-content {
		text-align: center;
		font-family: $default-font;
	}
	&-copyright {
		font-size: 23px;
	}
	a {
		color: inherit;
	}
}

@import "preloader";
@import "media";